{% extends "base.html.twig" %}

{% block js %}
	<script src="{{ asset('assets/js/flickity.pkgd.min.js') }}"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/flickity.css') }}">
{% endblock %}

{% block body %}

		<section id="divProjet">
			<h1 class="centre">Nos <b>projets</b>	à venir</h1>
			<div class="gallery js-flickity">
        {% for projet in projets %}
          {% if projet.fini == 0 %}
           {% if projet.media %}
      				<div class="gallery-cell">
      					<img src="{{ projet.mdeia }}" alt="{{ projet.titre }}"/>
      				</div>
            {% else %}
              {# lien youtube #}
            {% endif %}
          {% endif %}
        {% endfor %}
			</div>
		</section>

    <section id="divRea">
  			<div class="row">
  				<div class="col-md-12">
  				<h1 class="centre">Nos <b>réalisations</b></h1>
  				<div class="grid">
						{% set i = 0 %}
            {% for projet in projets %}
              {% if projet.fini == 1 %}
               {% if projet.media %}
                 <figure class="effect-ming">
                   <img src="{{ projet.media }}" alt="{{ projet.titre }}"/>
                   <figcaption>
                     <h2>{{ projet.titre|raw }}</h2>
                     <p>{{ projet.description|raw }}</p>
                     <a href="" data-toggle="modal" data-target="#dialog{{ i }}">Voir plus</a>
                   </figcaption>
                 </figure>
                {% else %}
                  {# lien youtube #}
                {% endif %}
              {% endif %}
							{% set i = i + 1 %}
            {% endfor %}
  					</div>
  				</div>
  			</div>
  		</section>

		{% set i = 0 %}
	  {% for projet in projets %}
		<div class="modal fade" id="dialog{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title" id="myModalLabel">{{ projet.titre }}</h3>
		      </div>
		      <div class="modal-body">
						<p>{{ projet.description }}</p>
						<p>type:{{ projet.type }}</p>
						<p>media {{ projet.media }} </p>
						<p>date {{ projet.date|date("m/d/Y") }} </p>
						<p>Membres:
						{% for membre in projet.membres %}
							{{ membre.nom }} - {{ membre.prenom }}
						{% endfor %}
						</p>
						<p>Languages:
						</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
		{% set i = i + 1 %}
  {% endfor %}
{% endblock %}
