{% extends "base.html.twig" %}

{% block js %}
	<script src="{{ asset('js/flickity.pkgd.min.js') }}"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('css/flickity.css') }}">
{% endblock %}

{% block body %}

		<section id="divProjet">
			<h1 class="centre">Nos <strong>projets</strong>	à venir</h1>
			<div class="gallery js-flickity">
        {% for projet in projets %}
          {% if projet.fini == 0 %}
           {% if projet.media %}
      				<div class="gallery-cell">
      					<img src="{{ projet.media }}" alt="{{ projet.titre }}"/>
      				</div>
            {% else %}
              {# lien youtube #}
            {% endif %}
          {% endif %}
        {% endfor %}
			</div>
		</section>

    <section id="divRea">
  			<div class="row">
  				<div class="col-md-12">
  				<h1 class="centre">Nos <strong>réalisations</strong></h1>
  				<div class="grid">
            {% for projet in projets %}
              {% if projet.fini == 1 %}
               {% if 1 %}
                 <figure class="effect-ming">
                   <img src="{{ asset('assets/img/projets/donkeyrugby1.jpg') }}" alt="{{ projet.titre }}"/>
                   <figcaption>
                     <h2>{{ projet.titre|raw }}</h2>
                     <p>{{ projet.description|raw }}</p>
                     <!--<a href="projets/{{ projet.id }}">Voir plus</a>-->
                   </figcaption>
                 </figure>
                {% else %}
                  {# lien youtube #}
                {% endif %}
              {% endif %}
            {% endfor %}
  					</div>
  				</div>
  			</div>
  		</section>





  <h1>Nos Projets</h1>
  {% for projet in projets %}
    {# dump(projet) #}
    <h2>{{ projet.titre }}</h2>
    <p>{{ projet.description }}</p>
    <p>type:{{ projet.type }}</p>
    <p>media {{ projet.media }} </p>
    <p>date {{ projet.date|date("m/d/Y") }} </p>
    <p>Membres:
    {% for membre in projet.membres %}
      {{ membre.nom }} - {{ membre.prenom }}
    {% endfor %}
    </p>
    <p>Languages:
    </p>
  {% endfor %}
{% endblock %}
