{% extends "base.html.twig" %}

{% block js %}
	<script src="{{ asset('assets/js/flickity.pkgd.min.js') }}"></script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" type="text/css" href="{{ asset('assets/css/flickity.css') }}">
{% endblock %}

{% block body %}

		<section id="divProjet">
			<h1 class="centre">Nos <b>projets</b>	à venir</h1>
			<div class="gallery js-flickity">
        {% for projet in projets %}
          {% if projet.fini == 0 %}
           {% if projet.media %}
      				<div class="gallery-cell">
      					<img src="{{ projet.mdeia }}" alt="{{ projet.titre }}"/>
      				</div>
            {% else %}
              {# lien youtube #}
            {% endif %}
          {% endif %}
        {% endfor %}
			</div>
		</section>

    <section id="divRea">
  			<div class="row">
  				<div class="col-md-12">
  				<h1 class="centre">Nos <b>réalisations</b></h1>
					<p>N'hésitez pas à cliquer sur les projets pour plus de détails.</p>
  				<div class="grid">
						{% set i = 0 %}
            {% for projet in projets %}
              {% if projet.fini == 1 %}
               {% if projet.media %}
                 <figure class="effect-ming">
                   <img src="/Site-DD/web/assets/img/mockup_pc.png" alt="{{ projet.titre }}"/>
                   <figcaption>
                     <h2>{{ projet.titre|raw }}</h2>
                     <p>{{ projet.description|raw }}</p>
                     <a href="" data-toggle="modal" data-target="#dialog{{ i }}">Voir plus</a>
                   </figcaption>
                 </figure>
                {% else %}
                  {# lien youtube #}
                {% endif %}
              {% endif %}
							{% set i = i + 1 %}
            {% endfor %}
  					</div>
  				</div>
  			</div>
  		</section>

		{% set i = 0 %}
	  {% for projet in projets %}
		<div class="modal fade" id="dialog{{ i }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h3 class="modal-title" id="myModalLabel">{{ projet.titre }} <span class="sous-titre">{{ projet.date|date("m/d/Y") }}</span></h3>
		      </div>
		      <div class="modal-body">
						<div class="container-fluid">
							<div class="row">
								<div class="col-sm-4">
									<img src="{{ projet.media }}" alt="{{ projet.titre }}"/>
								</div>
								<div class="col-sm-8">
									<p>{{ projet.description }}</p>
								</div>
								{% for langage in projet.langages %}
										<span class="badge">{{ langage.langage }}</span>
								{% endfor %}
							</div>
						</div>
		      </div>
		      <div class="modal-footer">
						Projet de type : {{ projet.type }}
						<div>
							{% for membre in projet.membres %}
								<a href="" data-toggle="tooltip" data-placement="top" data-original-title="{{ membre.prenom }} 	{{ membre.nom }}"><img src="{% if membre.image %}{{ membre.image }}{% else %}image de base{% endif %}" alt="{{ membre.prenom }} 	{{ membre.nom }}"/></a>
							{% endfor %}
						</div>
		      </div>
		    </div>
		  </div>
		</div>
		{% set i = i + 1 %}
  {% endfor %}
{% endblock %}
