{% extends "base.html.twig" %}

{% block body %}
<h1>Tuto</h1>
https://www.youtube.com/channel/UCGSNBV7l9lUefwb4KOS4NOA
{% for tuto in tutos %}
  {# dump(tuto) #}
  <h2>{{ tuto.titre }}</h2>
  <p>{{ tuto.description }}</p>
  <p>type:{{ tuto.type }}</p>
  <p>media {{ tuto.media }} </p>
  <p>date {{ tuto.date|date("m/d/Y") }} </p>
  <p>Membres:
  {% for membre in tuto.membres %}
    {{ membre.nom }} - {{ membre.prenom }}
  {% endfor %}
  </p>
  <p>Languages:
  {% for language in tuto.languages %}
    {{ language.language }},
  {% endfor %}
  </p>
{% endfor %}
{% endblock %}
