{% extends "base.html.twig" %}

{% block body %}
<h1>Index</h1>
{% for promotion in promotions %}
  {# dump(promotion) #}
  <p>{{ promotion.membre.nom }}</p>
  {{ promotion.membre.prenom }}
  {{ promotion.membre.site }}
  {{ promotion.role }}
  {{ promotion.date }}

{% endfor %}
{% endblock %}
